.encabezado{
    font-family: "Courier New", Courier, inconsonata;
    font-size: 24px;
}

.cuerpo-pagina{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.bad-news{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 48px;
}

.segundo-aviso{
    font-family: 'Courier New', Courier, spacemono;
    font-size: 18px;
}

.button{
    background-color: #000000;
    width: 216px;
    height: 68px;
}

.texto-boton{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    .contenido{
        display: flex;
        justify-content: space-between;
    }

    .scarecrow{
        width: 60%;
    }

    .bad-news{
        display: flex;
        align-items: center;
        width: 50%;
        padding-top: 100px;
        padding-right: 150px;
        font-size: 45px;
    }

    .segundo-aviso{
        display: flex;
        justify-content: flex-end;
        padding-right: 190px;
        padding-top: none;
        font-size: 24px;
    }

    .boton{
        display: flex;
        justify-content: flex-end;
        padding-right: 350px;
    }
    
}